input[type="number"] {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	transition: border-color 0.3s ease;
	-moz-appearance: textfield; /* Remove the arrows in Firefox */
	appearance: textfield; /* Remove the arrows in other browsers */
	text-align: center;
	padding: 10px 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none; /* Remove the arrows in Firefox */
	margin: 0;
}

input:focus {
	outline: none;
	border-color: var(--primary-color);
}

input {
	position: relative;
	margin: 10px;
	padding: 10px;
	width: 100%;
	text-align: center;
	max-width: 480px;
}