.university-select {
	cursor: pointer;
	width: 100%;
	padding: 10px;
	font-family: var(--font-family);
	border-radius: 4px;
	margin-bottom: 30px;
	text-align: center;
	border: 1px solid #ccc;
	margin-top: 10px;
}

.university-select-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 10px;
}

.university-select-container select {
	width: 30%;
	max-width: 480px;
}

@media screen and (max-width: 768px) {
	.university-select {
		padding: 12px !important;
		width: 50% !important;
		text-align: center !important;
		text-align-last: center !important;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
}